# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Environment
.env.production
package-lock.json

# Raw Data
data
.idea
test/assets
data
.npmrc
lib

.env.development
.env.production
test.json
test.js

local-example
dist
grab.ts
